table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #ebebeb;
  }

.tb2 {
    width: 35%;
}
/* .tb2 td {
    text-align: center;
} */